@charset "UTF-8";

/* 
    em HTML é id = em CSS é #
   em HTML é class = em CSS é .
*/

/* Id só pode ser utilizado por um único elemento no código;
   Já uma CLASSE pode ser usada pela quantidade necessária, podendo até mesmo um único H1, P ou parte do txt ter mais de 1 classe. */
body {
    background-color: rgba(121, 209, 121, 0.514);
    font-family: Arial, Helvetica, sans-serif
}
h1 {
    color: rgb(1, 128, 1)
}

h1#principal {
    text-align: center;
    font-size: 3em;
    font-family: 'Times New Roman', Times, serif;
    background-color: green;
    color: white;
}

h2 {
    color: rgb(1, 66, 1)
}

.basico {
    color: rgb(14, 104, 2)
}